body {
    background-color: #0e1117;
    color: #58a6ff;
    text-align: center;
    font-family: Arial, sans-serif;
}

#container {
    margin: auto;
    width: 700px;
    position: relative;
}

video, canvas {
    width: 700px;
    height: 500px;
    border-radius: 12px;
}
